<!DOCTYPE html>
<html>
  <head>
    {{ $style := resources.Get "sass/main.scss"  | resources.ToCSS | resources.Minify | resources.Fingerprint  }}
    <link rel="stylesheet" href="{{ $style.Permalink}}">
  </head>
  <body>
    <div style="height: 500px">
      {{ $header := resources.Get "logo-tom.svg" }}
      <img id="header" src="{{ $header.Permalink }}">
      <ul>
        <li><a href="https://www.thesasico.com">
            <span class="nav-subject nav-sep">sasi co</span>
            <span class="nav-details">sustainability & social innovation</span>
          </a>
        </li>
        <li><a href="http://leprojethope.com">
            <span class="nav-subject nav-sep">le projet hope</span>
            <span class="nav-details">Design studio, school, experimental playground</span>
          </a>
        </li>
        <li><a href="">
            <span class="nav-subject nav-sep">la marie-couche-toi-la</span>
            <span class="nav-details">immersive nightlife</span>
          </a>
        </li>
        <li><a href="">
            <span class="nav-subject nav-sep">Thonet</span>
            <span class="nav-details">arts, crafts, design</span>
          </a>
        </li>
        <li><a href="">
            <span class="nav-subject nav-sep">Yum Yum</span>
            <span class="nav-details">pop-up restaurant</span>
          </a>
        </li>
        <li><a href="">
            <span class="nav-subject nav-sep">good friends</span>
            <span class="nav-details">flabbergasting people</span>
          </a>
        </li>
        <li><a href="">
            <span class="nav-details nav-sep">tom@thon.et</span>
          </a><a href="">
            <span class="nav-details">+33 6 19 61 83 32</span>
          </a>
          </a>
        </li>
      </ul>
    </div>
  </body>
</html>

